.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    li {
      cursor: pointer;
    }
  }

  .card {
    display: flex;
    align-items: center;
    gap: 20px;

    h3 {
      font-weight: 500;
      font-size: 25px;
      cursor: pointer;
    }
  }
}
